@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}

.bebasneue {
  font-family: "Bebas Neue", sans-serif;
}

.sombraNavbarFooter {
  box-shadow: 0 0px 50px 10px rgba(128, 0, 255, 0.4);
}

.sombraADMIN {
  color: rgb(255, 0, 64); /* rojo fuerte */
  text-shadow: 0 0 3px rgba(128, 0, 255, 0.4), 0 0 6px rgba(128, 0, 255, 0.6),
    0 0 12px rgba(128, 0, 255, 0.8), 0 0 20px rgba(128, 0, 255, 1);
}

.fondoLogin {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #cdb4db, #d9eefe);
}

.fondoContenedorDerechoLogin {
  background: linear-gradient(135deg, #1465f0, #8fb9f3);
  min-height: 60vh; 
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondoContenedorIzquierdoLogin {
   background: rgb(12, 19, 50); 
}

@media (max-width: 767px) {
  .fondoContenedorDerechoLogin {
    min-height: 40vh; 
    width: 20%;
  }
}